= form_for(project) do |f|
  %h3
    Project Details:
  .row
    .col
      = f.label :title
      %br
      = f.text_field :title
    .col
      = f.label :category
      %br
      = f.select :category, options_for_select(Project.valid_categories, project.category)
    .col
      = f.label :modifier
      %br
      = f.text_field :modifier
    .col
      = f.label :handle
      %br
      = f.text_field :handle
  .row
    .col
      = f.label :description
      %br
      = f.text_area :description, size: '50x2'
    .col
      = f.label :priority
      %br
      = f.text_field :priority
  %h3
    Project Links/Attachments:
  .row
    .col
      = f.label :site_link
      %br
      = f.text_field :site_link
    .col
      = f.label :github_link
      %br
      = f.text_field :github_link
    .col
      = f.label :source_download
      = f.file_field :source_download, class: "btn btn-info"
      - if project.persisted? && project.source_download.present?
        .btn.btn-info
          = link_to "Delete Source", delete_attachment_path(id: project.id, attachment: "source_download"), method: :post
        .btn.btn-info
          = link_to "Project Source", project.source_download.url, class: "source-link" if project.source_download.present?
  .row
    .col
      = f.label :image1
      = f.file_field :image1, class: "image-input btn btn-info"
      - if project.persisted? && project.image1.present?
        .btn.btn-info
          = link_to "Delete Image 1", delete_attachment_path(id: project.id, attachment: "image1"), method: :post
        = link_to(image_tag(project.image1.url(:thumbnail)), project.image1.url)
    .col
      = f.label :image2
      = f.file_field :image2, class: "image-input btn btn-info"
      - if project.persisted? && project.image2.present?
        .btn.btn-info
          = link_to "Delete Image 2", delete_attachment_path(id: project.id, attachment: "image2"), method: :post
        = link_to(image_tag(project.image2.url(:thumbnail)), project.image2.url)
    .col
      = f.label :image3
      = f.file_field :image3, class: "image-input btn btn-info"
      - if project.persisted? && project.image3.present?
        .btn.btn-info
          = link_to "Delete Image 3", delete_attachment_path(id: project.id, attachment: "image3"), method: :post
        = link_to(image_tag(project.image3.url(:thumbnail)), project.image3.url)
  .row
    .col
      = f.label :image4
      = f.file_field :image4, class: "image-input btn btn-info"
      - if project.persisted? && project.image4.present?
        .btn.btn-info
          = link_to "Delete Image 4", delete_attachment_path(id: project.id, attachment: "image4"), method: :post
        = link_to(image_tag(project.image4.url(:thumbnail)), project.image4.url)
    .col
      = f.label :image5
      = f.file_field :image5, class: "image-input btn btn-info"
      - if project.persisted? && project.image5.present?
        .btn.btn-info
          = link_to "Delete Image 5", delete_attachment_path(id: project.id, attachment: "image5"), method: :post
        %br
        = link_to(image_tag(project.image5.url(:thumbnail)), project.image5.url)
  %h3
    Project Contents:
  .row
    .col
      = f.label :content
      %br
      = f.text_area :content, size: '75x10', id: "markdown-input"
      %br
      #see_preview.btn.btn-primary
        See Preview
    .col
      %label
        Content Preview:
      #preview
  :javascript
    $(document).ready(function(){
      function updatePreview(){
        MarkdownConverter.updatePreview();
      }
      MarkdownConverter.updatePreview();
      $("#see_preview").click(updatePreview);
    });
  .row
    = f.submit 'Save', class: "btn btn-success", style: "width: 100%;"