= form_for(project) do |f|
  %h3
    Project Details:
  .row
    .col
      = f.label :title
      %br
      = f.text_field :title
    .col
      = f.label :category
      %br
      = f.select :category, options_for_select(Project.valid_categories, project.category)
    .col
      = f.label :modifier
      %br
      = f.text_field :modifier
    .col
      = f.label :handle
      %br
      = f.text_field :handle
  .row
    .col
      = f.label :description
      %br
      = f.text_area :description, size: '50x2'
    .col
      = f.label :priority
      %br
      = f.text_field :priority
  %h3
    Project Links/Attachments:
  .row
    .col
      = f.label :site_link
      %br
      = f.text_field :site_link
    .col
      = f.label :github_link
      %br
      = f.text_field :github_link
    .col
      = f.label :source_download
      = f.file_field :source_download, class: "btn btn-info"
      - if project.persisted? && project.source_download.present?
        .btn.btn-info
          = link_to "Delete Source", delete_attachment_path(id: project.id, attachment: "source_download"), method: :post
        .btn.btn-info
          = link_to "Project Source", project.source_download.url, class: "source-link" if project.source_download.present?
  %h3
    Project Contents:
  .row
    .col
      = f.label :content
      %br
      = f.text_area :content, size: '75x10', id: "markdown-input"
      %br
      #see_preview.btn.btn-primary
        See Preview
    .col
      %label
        Content Preview:
      #preview
  :javascript
    $(document).ready(function(){
      function updatePreview(){
        MarkdownConverter.updatePreview();
      }
      MarkdownConverter.updatePreview();
      $("#see_preview").click(updatePreview);
    });
  .row
    = f.submit 'Save', class: "btn btn-success", style: "width: 100%;"