.frame
  = form_for(project) do |f|
    .row
      = f.label :category
      = f.select :category, options_for_select(Project.valid_categories, project.category)
    .row
      = f.label :title
      = f.text_field :title
    .row
      = f.label :modifier
      = f.text_field :modifier
    .row
      = f.label :description
      = f.text_area :description, size: '50x2'
    .row
      = f.label :handle
      = f.text_field :handle
    .row
      = f.label :site_link
      = f.text_field :site_link
    .row
      = f.label :github_link
      = f.text_field :github_link
    .row
      = f.label :source_download
      = f.file_field :source_download
    .row
      = f.label :image1
      = f.file_field :image1
      = link_to(image_tag(project.image1.url(:thumbnail)), project.image1.url) if project.image1.present?
    .row
      = f.label :image2
      = f.file_field :image2
      = link_to(image_tag(project.image2.url(:thumbnail)), project.image2.url) if project.image2.present?
    .row
      = f.label :image3
      = f.file_field :image3
      = link_to(image_tag(project.image3.url(:thumbnail)), project.image3.url) if project.image3.present?
    .row
      = f.label :image4
      = f.file_field :image4
      = link_to(image_tag(project.image4.url(:thumbnail)), project.image4.url) if project.image4.present?
    .row
      = f.label :image5
      = f.file_field :image5
      = link_to(image_tag(project.image5.url(:thumbnail)), project.image5.url) if project.image5.present?
    .row
      = f.label :content
      %br
      = f.text_area :content, size: '75x10', id: "markdown-input"
    .row
      #see_preview.btn.btn-primary
        See Preview
    :javascript
      $(document).ready(function(){
        function updatePreview(){
          MarkdownConverter.updatePreview();
        }
        MarkdownConverter.updatePreview();
        $("#see_preview").click(updatePreview);
      }); 

    .row
      Content Preview
      #preview
    .row
      = f.label :priority
      = f.text_field :priority
    %br
    .row
      = f.submit 'Save'