.project-frame.text-center
  = link_to project_path(project, source: params[:source]) do
    .project-title
      = project.title
    .project-modifier
      = project.modifier
    .project-description
      = project.description
  .project-links
    - if !project.course? && !project.site_link.blank?
      = link_to "Site", project.site_link, target: "_blank", class: "btn project-site-link"
    - if !project.github_link.blank?
      = link_to "Github", project.github_link, target: "_blank", class: "btn project-github-link"
    - if project.course? && !project.source_download.blank?
      = link_to "Source", project.source_download(:original, false), target: "_blank", class: "btn project-source-link"
  - if current_user
    .project-admin
      = link_to "Edit", edit_project_path(project)
      = link_to "Delete", project_path(project), method: 'DELETE'
%br