.project-frame
  .project-title
    = project.title
  .project-description
    = project.description
  .project-modifier
    = project.modifier
  .project-link
    = project.site_link
  .project-admin
    = link_to "Edit", edit_project_path(project)
    = link_to "Delete", project_path(project), method: 'DELETE'
%br