.project-frame.text-center
  = link_to project_path(project, source: params[:source]) do
    .project-title
      = project.title
    .project-modifier
      = project.modifier
    .project-description
      = project.description
  .project-link
    - if !project.course? && !project.site_link.blank?
      = link_to project.site_link, project.site_link, target: "_blank" 
      %br
    - if !project.github_link.blank?
      = link_to project.github_link, project.github_link, target: "_blank"
      %br
    - if project.course? && !project.source_download.blank?
      = link_to "Source Code Download", project.source_download(:original, false), target: "_blank"
      %br
  - if current_user
    .project-admin
      = link_to "Edit", edit_project_path(project)
      = link_to "Delete", project_path(project), method: 'DELETE'
%br