.project-show-frame
  .project-details-frame
    .project-title.text-center
      = @project.title
  - if !@project.content.blank?
    .project-content
      = PersonalSite::MARKDOWN.render(@project.content).html_safe
  %br
  %br
  - if params[:source]
    - if params[:source] == "ADMIN"
      = link_to "Back to All Projects", projects_path
    - if params[:source] == "COURSE"
      = link_to "Back to Course Projects", courses_path
    - if params[:source] == "HACKATHON"
      = link_to "Back to Hackathon Projects", hackathons_path
    - if params[:source] == "PERSONAL"
      = link_to "Back to Personal Projects", portfolio_path