.frame
  - if flash[:notice]
    .notice
      = flash[:notice]
  %h3.text-center
    = @project.title
  %h4
    Type:
    = @project.category.capitalize
  %h4
    = @project.course? && !@project.modifier.nil? ? "Course:" : ""
    = @project.hackathon? && !@project.modifier.nil? ? "Hackathon:" : ""
    = @project.modifier
  .row
    - @project.get_images.each do |image_name|
      = image_tag(image_name)
  %h4
    = @project.site_link.nil? ? "" : "Site:"
    = @project.site_link
  %h4
    = @project.github_link.nil? ? "" : "Github:"
    = @project.github_link
  %h4
    = @project.download_link.nil? ? "" : "Download:"
    = @project.download_link
  %h4
    Description: 
    = @project.description
- if params[:source]
  - if params[:source] == "ADMIN"
    = link_to "Back to All Projects", projects_path
  - if params[:source] == "COURSE"
    = link_to "Back to Course Projects", courses_path
  - if params[:source] == "HACKATHON"
    = link_to "Back to Hackathon Projects", hackathons_path
  - if params[:source] == "PERSONAL"
    = link_to "Back to Personal Projects", portfolio_path