%header#vertical-nav
  .nav-link
    Home
  .nav-link
    About
  .nav-link
    Education
  .nav-link
    Class Projects
  .nav-link
    TA Notes
  .nav-link
    Hackathons
  .nav-link
    Personal Portfolio
  .nav-link
    Miscellaneous
  #social-links
    %a
      = image_tag("github-icon.png")
    %a
      = image_tag("linkedin-icon.png")
    %a
      = image_tag("twitter-icon.png")
    %a
      = image_tag("soundcloud-icon.png")
    %a
      = image_tag("email-icon.png")