%header#vertical-nav
  .nav-link
    = link_to "James Wen", root_path
  %br
  .nav-link
    = link_to "Home", root_path
  - if current_user
    .nav-link
      = link_to "Admin Dashboard", projects_path
  .nav-link
    = link_to "About", about_path
  .nav-link
    = link_to "Education", education_path
  .nav-link
    = link_to "Class Projects", classprojects_path
  .nav-link
    = link_to "Hackathons", hackathons_path
  .nav-link
    = link_to "Personal Portfolio", portfolio_path
  .nav-link
    = link_to "TA Notes", ta_path
  .nav-link
    = link_to "Miscellaneous", miscellaneous_path
  - if current_user
    .nav-link
      = link_to "Logout", logout_path, method: 'post'
  #social-links
    = link_to image_tag("github-icon.png"), github_path, target: "_blank"
    = link_to image_tag("linkedin-icon.png"), linkedin_path, target: "_blank"
    = link_to image_tag("twitter-icon.png"), twitter_path, target: "_blank"
    = link_to image_tag("soundcloud-icon.png"), soundcloud_path, target: "_blank"
    = mail_to PersonalSite::PERSONAL_EMAIL, image_tag("email-icon.png")