%header#vertical-nav
  .nav-link
    = link_to "James Wen", root_url
  %br
  .nav-link
    = link_to "Home", root_url
  .nav-link
    = link_to "About"
  .nav-link
    = link_to "Education"
  .nav-link
    = link_to "Class Projects"
  .nav-link
    = link_to "TA Notes"
  .nav-link
    = link_to "Hackathons"
  .nav-link
    = link_to "Personal Portfolio"
  .nav-link
    = link_to "Miscellaneous"
  #social-links
    = link_to image_tag("github-icon.png"), github_path, target: "_blank"
    = link_to image_tag("linkedin-icon.png"), linkedin_path, target: "_blank"
    = link_to image_tag("twitter-icon.png"), twitter_path, target: "_blank"
    = link_to image_tag("soundcloud-icon.png"), soundcloud_path, target: "_blank"
    = mail_to PersonalSite::PERSONAL_EMAIL, image_tag("email-icon.png")